.form-input {
  @apply px-3
  py-2
  text-sm
  border-gray-200
  placeholder-gray-500
  bg-gray-200
  text-gray-900
  rounded-md
  border-2
  transition duration-100 ease-in-out
  hover:border-gray-300
  focus:outline-none focus:ring-yellow-300 focus:border-yellow-300 focus:bg-white;
}

.auth-form-box {
  @apply max-w-lg
  w-full
  bg-white
  border-2
  border-gray-600
  px-8
  py-6
  rounded;
}

button {
  @apply px-2
  py-1 
  text-white 
  font-semibold
  text-black
  rounded
  text-sm 
  ring-0;
}

.primary-button {
  @apply bg-yellow-400
  transition duration-200 ease-in-out
  focus:outline-none focus:outline-none
  hover:bg-yellow-500;
}

.button-disabled {
  @apply bg-gray-200 text-gray-300 cursor-not-allowed !important;
}
